* {
    margin: 0;
    padding: 0;

    /*hiiiiiiiii*/
}

.navbar {
    width: 100%;
    height: fit-content;
    background-color: aliceblue;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6AA319;
}

.text-nav {
    color: #B9EFD4;
    font-family: 'lato', sans-serif;
    padding-right: 50px;

}


.icon {
    padding-left: 50px;
    font-size: 30px;
    font-family: 'lato', sans-serif;
    color: #B9EFD4
}

li {
    display: inline-block;
    padding: 20px;

}

li:hover {
    color: #005037;
    background-color: transparent;
    border: 2px solid #005037;

}

ul li a:hover {
    color: #005037;


}

body {
    background-color: #B9EFD4;
}



/*=============================================================*/

/* Css Main */

/*=============================================================*/



.main {
    width: 100%;
    background-color: #B9EFD4;
    background-position: center;
    background-size: cover;
    height: 109vh;



}

.man {
    width: 100%;
    background: #b9efd5;
    height: 35.3rem;
    display: flex;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
}


.name55 {
    font-size: 50px;
    display: flex;
    /*--padding-top: 20px;*/
    word-spacing: 5px;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 90px;
    color: #6AA319;
    font-family: 'lato', sans-serif;

}

p.name3 {
    font-size: 30px;
    color: #6AA319;
    font-family: 'lato', sans-serif;

}

.name2 {
    color: #6AA319;
    font-family: 'lato', sans-serif;

}

.about p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    color: #fff;
    margin-right: 600px;
    margin-left: 20px;
    align-content: center;
    align-items: center;
    padding-top: 3%;
    letter-spacing: 2.5px;
    line-height: 1.8rem;
    font-size: 1rem;
    padding-left: 50px;
}

.about {
    background: #005037;
    height: auto;
    width: auto;
}

.image2 {
    width: 65%;
    height: 65%;
    display: flex;
    left: 60%;
    position: absolute;
    top: 120%;

}

.fire {
    font-size: x-large;
    font-family: 'lato', sans-serif;
}

.water {
    font-size: x-large;
    font-family: 'lato', sans-serif;
}


.aboutme {
    font-size: 4.65rem;
    top: 111%;
    left: 10%;
    color: #B9EFD4;
    font-family: 'lato', sans-serif;
    padding-left: 71px;
    padding-top: 20px;
}

/*© 2023 Copyright Right Reserved (color) and all the footer font*/
.contacti {

    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #005037;
    font-family: 'lato', sans-serif;
    left: 1px;
}

.btn {

    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 3.87rem;
    border-radius: 30px;
    transition: 0.2s;
    border: 2px solid transparent;
    background: #527e13;


}

a {
    color: #ffffff;
    font-weight: bold;
}









footer {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #73a78d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*Phone: 0592313414
Email: mahmoud00@gmail.com (color)*/
.foot {
    color: #005037;
    letter-spacing: spacing 1.8rem;
    line-height: 1.8rem;
    font-size: 1rem;
}

span {
    color: #527e13;
    font-family: 'lato', sans-serif;
}


ul {
    margin-bottom: 7%;
}

.words{
    margin: 0;
    padding:0;
}

@media  (max-width: 800px){
    html{
        width:100%;
    }
    body{
        width:100%;
    }
.PageAbout{
        width:100%;
    }
.bar{
    width:100%;
}
p{
    width: 100%;
    font-size: 1rem;
    
}
#about{
    width:100%;
}
.image2{
    display:none;
}
img{
    width:100%;
}
footer{
    width: 100%;
}
.words {
    margin: 0;
        padding-right: 84px;
}

        .nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: #6AA319;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: space-between;
            align-items: flex-start;
        }
                .icon {
                    padding-left: 71px;
                    font-size: 1.5rem;
                    font-family: 'lato', sans-serif;
                    color: #B9EFD4;
                }
}







